In [2]:
import quandl

In [3]:
appl = quandl.get("WIKI/APL", start_date="2012-01-01", end_date="2019-01-01")

In [4]:
type(appl)

pandas.core.frame.DataFrame

In [5]:
appl_numpy_array = quandl.get("WIKI/APL", start_date="2012-01-01", end_date="2019-01-01", returns="numpy")

In [6]:
type(appl_numpy_array)

numpy.recarray

In [18]:
appl.head(700)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2012-01-03,37.40,38.5100,37.2400,38.46,732200.0,0.0,1.0,29.677623,30.558430,29.550660,30.518754,732200.0
2012-01-04,38.45,39.0000,38.4500,38.97,666300.0,0.0,1.0,30.510818,30.947254,30.510818,30.923448,666300.0
2012-01-05,38.91,39.2900,38.8729,39.12,339000.0,0.0,1.0,30.875837,31.177375,30.846398,31.042476,339000.0
2012-01-06,39.22,39.3100,38.3100,38.46,380600.0,0.0,1.0,31.121828,31.193245,30.399726,30.518754,380600.0
2012-01-09,40.89,40.8900,37.8501,38.10,259300.0,0.0,1.0,32.447006,32.447006,30.034786,30.233087,259300.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2014-10-08,36.08,36.0899,34.0500,35.13,769558.0,0.0,1.0,34.538653,34.548130,32.595375,33.629237,769558.0
2014-10-09,35.21,35.4899,33.6800,34.03,788984.0,0.0,1.0,33.705819,33.973762,32.241181,32.576229,788984.0
2014-10-10,33.71,34.2200,32.0200,33.62,683244.0,0.0,1.0,32.269900,32.758112,30.652097,32.183744,683244.0
2014-10-13,37.95,37.9600,33.5000,34.05,3126596.0,0.0,1.0,36.328766,36.338339,32.068871,32.595375,3126596.0
2014-10-14,33.87,35.4400,32.0800,33.77,1930703.0,0.0,1.0,32.423064,33.925994,30.709534,32.327336,1930703.0

In [8]:
appl.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2015-02-23,27.21,27.4400,26.640,27.35,3881194.0,0.0,1.0,27.21,27.4400,26.640,27.35,3881194.0
2015-02-24,27.31,27.6500,27.055,27.29,509065.0,0.0,1.0,27.31,27.6500,27.055,27.29,509065.0
2015-02-25,27.13,27.6400,27.070,27.45,552061.0,0.0,1.0,27.13,27.6400,27.070,27.45,552061.0
2015-02-26,27.41,27.5599,26.720,27.08,542364.0,0.0,1.0,27.41,27.5599,26.720,27.08,542364.0
2015-02-27,26.85,27.1600,26.520,26.63,1599515.0,0.0,1.0,26.85,27.1600,26.520,26.63,1599515.0

In [19]:
pd.DataFrame(appl).to_csv("/tmp/file.csv")

In [9]:
fb=quandl.get("WIKI/APL", start_date="2012-01-01", end_date="2013-01-01", collapse="monthly")

In [16]:
fb.head(100)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2012-01-31,37.70,37.800,37.3700,37.51,242300.0,0.0,1.0,29.915679,29.995031,29.653818,29.764910,242300.0
2012-02-29,37.08,37.090,36.5800,36.95,421500.0,0.0,1.0,29.860250,29.868303,29.457604,29.755562,421500.0
2012-03-31,35.50,35.750,35.0100,35.38,228000.0,0.0,1.0,28.587888,28.789211,28.193295,28.491253,228000.0
2012-04-30,34.95,35.158,34.9200,34.96,289000.0,0.0,1.0,28.144977,28.312478,28.120818,28.153030,289000.0
2012-05-31,30.64,30.780,29.2600,30.00,494500.0,0.0,1.0,25.077833,25.192419,23.948349,24.554014,494500.0
2012-06-30,30.90,31.240,30.4601,31.18,908100.0,0.0,1.0,25.290635,25.568913,24.930591,25.519805,908100.0
2012-07-31,33.04,33.350,32.7300,33.25,186300.0,0.0,1.0,27.042154,27.295879,26.788429,27.214032,186300.0
2012-08-31,34.72,34.740,34.2800,34.74,111200.0,0.0,1.0,28.903685,28.920335,28.537394,28.920335,111200.0
2012-09-30,33.80,34.170,33.4300,34.10,359200.0,0.0,1.0,28.137804,28.445822,27.829787,28.387548,359200.0
2012-10-31,35.44,36.000,35.0000,35.38,138100.0,0.0,1.0,29.503071,29.969259,29.136780,29.453122,138100.0
2012-11-30,34.21,34.210,32.7601,32.99,395200.0,0.0,1.0,28.950192,28.950192,27.723215,27.917767,395200.0
2012-12-31,31.03,31.660,30.8909,31.57,416800.0,0.0,1.0,26.259119,26.792256,26.141405,26.716093,416800.0

In [11]:
fb.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2012-08-31,34.72,34.74,34.2800,34.74,111200.0,0.0,1.0,28.903685,28.920335,28.537394,28.920335,111200.0
2012-09-30,33.80,34.17,33.4300,34.10,359200.0,0.0,1.0,28.137804,28.445822,27.829787,28.387548,359200.0
2012-10-31,35.44,36.00,35.0000,35.38,138100.0,0.0,1.0,29.503071,29.969259,29.136780,29.453122,138100.0
2012-11-30,34.21,34.21,32.7601,32.99,395200.0,0.0,1.0,28.950192,28.950192,27.723215,27.917767,395200.0
2012-12-31,31.03,31.66,30.8909,31.57,416800.0,0.0,1.0,26.259119,26.792256,26.141405,26.716093,416800.0

# Reading Stock time-series data in CSV

In [12]:
import pandas as pd

In [15]:
fb_data_frame = pd.read_csv("stock/WIKi-FB.csv")

EmptyDataError: No columns to parse from file

In [14]:
type(fb_data_frame)

NameError: name 'fb_data_frame' is not defined

In [ ]:
fb_data_frame.head()

In [ ]:
fb_data_frame.tail()

In [ ]:
fb_data_frame.head(10)